<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <style>
        canvas{
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="border frame" >
        <div class="form-group">
            <label for="models">Select model</label>
            <select class="form-control" id="models">
                <option disabled selected>----Select stock----</option>
                {% for model in models %}
                <option>{{ model }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="periods">Select period</label>
            <select class="form-control" id="periods">
                <option disabled selected>----Select period----</option>
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
                <option value="30">1 month</option>
                <option value="60">2 months</option>
                <option value="90">3 months</option>
            </select>
        </div>   
        <button onclick="predict()">Predict</button>     
    </div>
    <canvas id="line-chart" width="400" height="300"></canvas>

    <script>
        function add_day(days) {
            var date = new Date()
            date.setDate(date.getDate() + days)
            return date
        }

        function predict() {
            // TODO: print wait for a moment...

            var today = new Date().toJSON().split('T')[0].replace(/-/g, '')
            $.get( "/predict/" + document.getElementById('models').value + '/' + 
                document.getElementById('periods').value +'/' + today, 
            function(data) {
                stock_data = JSON.parse(data)
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [...Array(10).keys()].map(x => x++),
                        datasets: [{ 
                            data: stock_data["input"],
                            label: "Africa",
                            borderColor: "#3e95cd",
                            fill: false
                        }]
                    },
                    options: {    
                        responsive: true,
                        maintainAspectRatio: true,
                        title: {
                            display: true,
                            text: 'World population per region (in millions)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 20
                            }
                        }]
                        xAxes: [{
                            ticks: {
                                fontSize: 20
                            }
                        }]
                    }
                    });
            })
            .fail(function() {
                // print something went wrong
            })
        }

        // $(function(){
        //     $('#models').change(function() {
        //         $('#result').val('Please wait a moment.')
        //         var today = new Date().toJSON().split('T')[0].replace(/-/g, '')
        //         $.get( "/predict/" + $('#models').val() + '/' + today, 
        //         function(data) {
        //             $('#result').val(data)
        //         })
        //         .fail(function() {
        //             $('#result').val('Some thing went wrong!')
        //         })
        //     });
        // })
    </script>
</body>

